<!DOCTYPE html>
<html ng-app="checkout">
<head>
<title>Checkout page</title>

<link rel="stylesheet" href="lib/dependencies/css/bootstrap.min.css" />
<link rel="stylesheet" href="lib/dependencies/css/ng-grid.min.css" />

<link rel="stylesheet" type="text/css" href="css/style.css" />

<script src="lib/dependencies/angular.min.js"></script>
<script src="lib/dependencies/angular-resource.min.js"></script>
<script src="lib/dependencies/jquery.min.js"></script>
<script src="lib/dependencies/ui-bootstrap-tpls.min.js"></script>
<script src="lib/dependencies/ng-grid.min.js"></script>

<script src="script/market.js"></script>

</head>

<body>

<div id="wrapper">
	<ul class="menu">
		<li><a href="/SalenkoToQMTestProj/priceChangePage.html">Price control page</a></li>
	</ul>
</div>

<h1>Market place</h1>

<br />

<div class="message" ng-controller="alertMessagesController">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<br>

<div class="checkout" ng-controller="dealsListController">
	<div>
		<h3>Checkout List</h3>
		<div class="checkRow" ng-repeat="check in checkList.check track by $index">
			{{check}}
		</div>
	</div>
</div>

<div class="grid" ng-controller="dealsListController">
	<div>
		<h3>Deals List</h3>
	</div>

	<div class="gridStyle" ng-grid="gridOptions"></div>

	<pagination direction-links="true" boundary-links="true"
				total-items="checkout.totalResults" items-per-page="checkout.pageSize" 
				ng-model="checkout.currentPage" ng-change="refreshGrid()"> 
	</pagination>
</div>



<div class="form" ng-controller="dealsFormController">
	<div ng-if="deal.id == null">
		<h3>Add row</h3>
	</div>
	<div ng-if="deal.id != null">
		<h3>Edit row</h3>
	</div>

	<div>
		<form name="dealForm" ng-submit="updateDeal()" novalidate>

			<div class="form-group" ng-class="{'has-error' : dealForm.product.$invalid && dealForm.product.$dirty}">
				<label for="product">Product name:</label> 
				<span ng-class="{'glyphicon glyphicon-ok' : dealForm.product.$valid && dealForm.product.$dirty}"></span>

				<select id="name" name="product" class="form-control" required
					ng-options="item as item.name for item in productList track by item.id"
					ng-model="deal.product">
				</select>

			</div>

			<div class="form-group"	ng-class="{'has-error' : dealForm.productCount.$invalid && dealForm.productCount.$dirty}">
				<label for="productCount">Count:</label> 
				<span ng-class="{'glyphicon glyphicon-ok' : dealForm.productCount.$valid && dealForm.productCount.$dirty}"></span>

				<input ng-if="!deal.product.calculationType" id="productCount" name="productCount" type="number" 
					class="form-control" min="1" max="99" ng-model="deal.productCount" 
					ng-pattern="/^[0-9]{1,3}?$/" required> 
					
				<input ng-if="deal.product.calculationType"	id="productCount" name="productCount" type="number"
					class="form-control" min="0.001" max="99.999" ng-model="deal.productCount"
					ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/" step="0.001" required>

				<p class="help-block" ng-show="dealForm.productCount.$error.required">Add numerical	count.</p>
				<p class="help-block" ng-show="dealForm.productCount.$error.min">Min 1 or 0.001.</p>
				<p class="help-block" ng-show="dealForm.productCount.$error.max">Max 99 or 99.999.</p>
				<p class="help-block" ng-show="dealForm.productCount.$error.pattern">Input Integer.</p>
			</div>

			<div class="buttons">
				<button type="button" class="btn btn-primary" ng-click="clearForm()">Clear</button>
				<button type="submit" class="btn btn-primary" ng-disabled="dealForm.$invalid">Save</button>
			</div>

			<div class="priceandoffer">
				<div ng-show="deal.product != null" ng-model="deal.product">
					<div ng-if="!deal.product.calculationType">
						current {{deal.product.name}} price: {{deal.product.price}} $ / {{o}}
					</div>
					<div ng-if="deal.product.calculationType" ng-init="o = 'kilo'">
						current {{deal.product.name}} price: {{deal.product.price}} $ /	{{o}}
					</div>
				</div>
				<br>
				<div ng-show="deal.product != null && deal.product.actionValid != false" ng-model="deal.product">
					Special offer!!! 
					<br>
					Buy {{deal.product.actionCount}} {{deal.product.name}} just for: {{deal.product.actionPrice}} $
					<div ng-show="deal.product != null && deal.product.gift != false" ng-model="deal.product">
						And get {{deal.product.giftCount}} {{deal.product.giftName}} free!!!
					</div>
				</div>
			</div>
			
		</form>
	</div>
</div>

</body>
</html>
